<!-- templates/generate_qr.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="breadcrumb">
        <a href="/">Home</a> &gt; QR Code Generator
    </div>

    <div class="main">
        <div class="form-section">
        <h1>Generate QR Code</h1>
        <p>Generate QR code for any URL instantly</p>
            <form method="POST" class="generateqr_form">    
                
                <div class="input-group">
                    <input type="text" class="form-input" placeholder="Enter URL" required="" name="url">
                    <button type="submit" class="get-definition-btn">Generate</button>
                </div>

            </form>
        </div>

    <div class="definition-card">
        {% if qr_code_url %}
            <h3>Your QR Code for {{ url }}:</h3>
            <img src="{{ qr_code_url }}" alt="QR Code">
        {% else %}
        <p>Your QR code will be generated here</p>
        {% endif %}
    </div>

    
</body>
</html>
